/*********************************
        DEFAULT COLORS
**********************************/

:root{
    --white: #fff;
    --black: #000;
    --gray: #5f6368;
    --lite: #bfbfbf;
    --dark: #1d1e22;
    
    --yellow: #f5b409;
    --red: #de4432;
    --green: #9bd846;
    --blue: #095077;
    --orange: #ee712f;
    
    --primary: #114a91;
    --primary_dark: #283344;
    --primary_lite: #2c96ce;
    
    --secondary: ;
    --secondary_dark: ;
    --secondary_lite: ;
}
