/*********************************
IMPORT FONT & COLOR & FONT_AWESOME
**********************************/
@import "./fonts.css";
@import "./colors.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css";


/*********************************
        DEFAULT SETTING
**********************************/
*, html{
    scroll-behavior: smooth;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/*********************************
      CUSTOM SCROLL BAR
**********************************/
::-webkit-scrollbar {
    height: 12px;
    width: 2px;
    background: var(--dark);
}

::-webkit-scrollbar-thumb {
    background: gray;
    -webkit-box-shadow: 0px 1px 2px var(--dark);
}

::-webkit-scrollbar-corner {
    background: var(--dark);
}


/*********************************
       DEFAULT ELEMENTS
**********************************/
body{
    margin:0;
    overflow-x:hidden !important;
    font-family: var(--default_font);
}

a{
    text-decoration:none !important;
    min-width: fit-content;
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
}

a, button{
    transition:0.5s;
}

em{
    font-style:normal;
}

figure{
    padding:0;
    margin:0;
}

figure img{
    width:100%;
    height:100%;
}

a, p, .btn{
    font-size:16px;
}

p{
    line-height:1.9em;
}

a, button, input, textarea, select{
    outline:none !important;
}

fieldset{
    border:0;
}

h1, h2, h3, h4, h5, h6{
    margin:0;
}

.title, .sub_title{
    font-family:var(--title_font);
}

.flex, .fixed_flex{
    display:flex;
}

.flex_content{
    width:100%;
}

.align_center{
    align-items:center;
}

.t_center{
    text-align:center;
}

.padding_1{
    padding:1rem;
}

.padding_2{
    padding:2rem;
}

.padding_3{
    padding:3rem;
}

.padding_4{
    padding:4rem;
}

.big{
    font-size:3.5vw;
}

.medium{
    font-size:2vw;
}

.small{
    font-size:1.3vw;
}

.relative{
    position:relative;
}

.btn{
    padding:0.6rem 1rem;
    color:inherit;
    position:relative;
    font-family:var(--title_font);
}

.btn_1{
    background-color:var(--primary_lite);
    color:var(--white);
    border-radius:40px;
    border:0;
}

.btn_1:hover{
    background-color:var(--primary_dark);
}

.btn_2{
    background-color:var(--white);
    color:var(--dark);
    border-radius:40px;
    border:0;
}

.btn_2:hover{
    background-color:var(--lite);
}

.btn_white, .btn_dark{
    background-color:var(--white);
    border:0;
    color:var(--dark);
    border-radius:40px;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:0.8rem 1rem;
}

.btn_dark{
    background-color:var(--dark);
    color:var(--white);
}

.btn_white:hover{
    background-color:#f1f1f1;
}

.btn_dark:hover{
    background-color:var(--black);
}

.btn_white_border{
    background-color:transparent;
    border:1px solid var(--white);
    color:var(--white);
    border-radius:40px;
    overflow:hidden;
    display:flex;
    align-items:center;
    gap:0.5rem;
}

.btn_white_border:after{
    content:"\f105";
    font-family:"FontAwesome";
}

.btn_white_border:hover{
    background-color:var(--white);
    color:var(--dark);
}

.buttons{
    display:flex;
    align-items:center;
    gap:2rem;
}

.underlined{
    position:relative;
    color:inherit;
    display:flex;
    align-items:center;
    gap:5px;
}

.underlined:before{
    content:"";
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:1px;
    background-color:inherit;
}

.underlined:after{
    content:"\f061";
    font-family:"FontAwesome";
    transform:rotate(-40deg);
    transition:0.5s;
}

.underlined:hover:after{
    transform:rotate(0deg);
}

.uppercase{
    text-transform:uppercase;
}

.bulletins li, .sub_links li{
    position:relative;
    padding:0.5rem 0;
}

.bulletins li:before, .sub_links li:before{
    content:"\f00c";
    font-family:"FontAwesome";
    margin-right:8px;
    color:inherit;
}

.sub_links li:before{
    content:"\f105";
}

.sub_links li a:hover:after{
    content:"\f08e";
    font-family:"FontAwesome";
    margin-left:5px;
    color:inherit;
}

.title_header p{
    position:relative;
    top:-10px;
}

/*********************************
         MEDIA QUERY
**********************************/
@media screen and (max-width:1080px){
    a, p, .btn, .division_3 td{
        font-size:13px;
    }
}

@media screen and (max-width:720px){
    .flex{
        flex-wrap:wrap;
    }
    
    .padding_1, .padding_2, .padding_3, .padding_4{
        padding:1rem;
    }
    
    .big{
        font-size:1.8em;
    }
    
    .medium{
        font-size:1.4em;
    }
    
    .small{
        font-size:1em;
    }
    
    .btn{
        padding:0.5rem 1rem;
        white-space:nowrap;
    }
    
    a, p, .btn{
        font-size:12px;
    }
}


@media screen and (max-width:520px){
    .big{
        font-size:20px;
    }
    
    .medium{
        font-size:16px;
    }
    
    .small{
        font-size:13px;
    }
}

/*SMALL SCREEN*/
@media (max-width:300px){
    .padding_1, .padding_2, .padding_3, .padding_4{
        padding:0.5rem;
    }
    
    .big{
        font-size:18px;
    }
    
    .medium{
        font-size:14px;
    }
    
    .small{
        font-size:11px;
    }
    
    a, p, .btn{
        font-size:10px;
    }
    
}


/*********************************
         ADDITIONAL
**********************************/
/*POPUP*/
.popup{
    position:fixed;
    bottom:1rem;
    right:1rem;
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    overflow-y:auto;
    gap:5px;
    z-index:99 !important;
}

.popup .alert{
    max-width:300px;
    position:relative;
    background-color:var(--dark);
    padding:0.5rem 1rem;
    border-radius:10px;
    border:1px solid rgba(255,255,255,0.3);
    color:var(--white);
    display:flex;
    align-items:center;
    gap:10px;
    box-shadow:0px 6px 16px -6px var(--dark);
    overflow:hidden;
}

.popup .alert article .title{
    position:relative;
    top:10px;
}

.popup .alert article p{
    font-weight:300;
    opacity:0.6;
}


/*ICON*/
.icon_danger{
    color:var(--red);
}

.icon_warning{
    color:var(--yellow);
}

.icon_success{
    color:var(--green);
}

/*CLOSE*/
.close{
    position:absolute;
    top:0.2rem;
    right:0.2rem;
    padding:0.2rem;
    border-radius:3px;
    border:1px solid rgba(255,255,255,0.2);
    display:flex;
    align-items:center;
    justify-content:center;
    color:inherit;
    opacity:0.6;
}

.close:hover{
    opacity:1;
}

@media (max-width:520px){
    .popup{
        bottom:0.3rem;
        right:50%;
        transform:translate(50%, 0%);
        width:98%;
        align-items:center;
        justify-content:center;
    }
    
    .popup .alert{
        max-width:100%;
        width:100%;
        border-radius:0px;
    }
}

@media (max-width:300px){
    .popup .alert{
        flex-wrap:wrap;
    }
}
